*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --lightGray: #D9D9D9;
  --gray: #BEBEBE;
  --darkGray: #9F9F9F;
  --lightGreen: #5C9068;
  --green: #2F5D42;
  --darkGreen: #0E3C1F;
  --veryDarkGreen: #092D16;
  --superDarkGreen: #062010;
  --greenLogo: #2C4F30;
  --navGreen: rgba(30, 71, 45, 1);
  --navScrGreen: rgba(30, 71, 45, .9);
  --accent: #F0EAD6;
  --profile: #C5A279;
  --profileShadow: #B98B55;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
}

a{
  text-decoration: none;
  color: black;
}


h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1, h2, .titleOne{
  font-family: "Bebas Neue", sans-serif;
}

.title{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

section{
  padding: 4rem 4rem;
}

.logo img{
  height: 100%;
  display: block;
  margin: 0 auto;
}

nav {
  padding: 1rem 5rem;
  height: 6rem;
  width: 100%;
  background-color: var(--navGreen);
  position: fixed;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  transition: all 350ms ease;
  z-index: 100;
}
nav.scrolled{
  margin: 1rem 5%;
  width: 90%;
  transition: all 350ms ease;
  border-radius: 1.5rem;
  backdrop-filter: blur(5px);
  background-color: var(--navScrGreen);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav .navItems{
  padding: 0;
  margin: 0;
  height: 4rem;
  display: flex;
  align-items: center;
}
nav .navItems ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
}
nav .navItems ul li a{
  color: #fff;
}
nav .logo{
  width: 4rem;
  height: 4rem;
  display: inline-block;
  /* background-color: gray; */
  /* border-radius: 2rem; */
}
nav .title{
  display: inline-block;
  padding: .375rem 1.5rem .625rem;
  height: 4rem;
  color: #FFF;
}
nav .title .titleOne{
  height: 2rem;
  font-size: 2rem;
}
nav .title .titleTwo{
  font-size: 0.75rem;
  padding: .125rem 0;
  height: 1rem;
}

footer {
  background: #383431;
  color: #F1F1F1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 4rem 8rem;
}
footer .links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .links{
  margin: 0;
  margin-left: auto;
  width: 80%;
}
footer .logoAndTitle{
  padding: 0;
  margin: .5rem 0;
  height: 4rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
footer .logo{
  width: 4rem;
  height: 4rem;
  display: inline-block;
  /* background-color: gray;
  border-radius: 2rem; */
}
footer .title{
  display: inline-block;
  padding: .375rem 1.5rem .625rem;
  height: 4rem;
  font-weight: 600;
}
footer .title .titleOne{
  height: 2rem;
  font-size: 2rem;
}
footer .title .titleTwo{
  font-size: 0.75rem;
  padding: .125rem 0;
  height: 1rem;
}
footer .description{
  padding: .5rem;
}
footer ul {
  margin: .5rem 0;
  padding-inline-start: 2rem ;
}
footer ul li {
  list-style: none;
  margin: .5rem 0;
  padding: .125rem 0;
  height: 1.5rem;
}
footer ul li a {
  text-decoration: none;
  color: #F1F1F1;
  font-size: 1rem;
  font-weight: 400;
  height: 1.25rem;
}
footer p {
  margin: .5rem 0;
  font-size: .75rem;
  opacity: 0.75;
  word-wrap: break-word;
}
footer .endingText{
  display: none;
  grid-column: 1/3;
  margin: 2rem 0 0;
}
footer .smLink{
  display: flex;
  justify-content: left;
  align-items: start;
  gap: .5rem;
}
footer .smLink img{
  width: 1.25rem;
  height: 1.25rem;
  padding: 0 auto;
}
footer .smLink .username{
  height: 1rem;
}

@media only screen and (max-width: 1220px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 920px) {
  .socmed .title{
    display: none;
  }
  .profiles{
    padding: 4rem 10%;
  }
  .profileCard{
    grid-template-columns: 1fr 4fr;
    margin: 1.5rem 0;
    margin-left: 5rem;
    padding: 4rem;
  }
  .profileCard .img img{
    display: none;
  }
  footer {
    grid-template-columns: 1fr;
    padding: 4rem 6rem;
  }
  footer .links {
    margin: 0 auto;
  }
  footer ul, footer li, footer h3{
    padding-inline-start: 0;
    text-align: center;
  }
  footer .smLink{
    justify-content: center;
  }
  footer ul li{
    padding: 0;
  }
  footer .logoAndTitle{
    justify-content: center;
  }
  footer p{
    text-align: center;
  }
  footer .endingText{
    grid-column: 1/1;
  }
}

@media only screen and (max-width: 640px) {
  nav{
    justify-content: center;
  }
  nav .navItems.list ul{
    display: none;
  }
  footer .links-container{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 380px) {
  :root{
    font-size: 10px;
  }
  section{
    padding: 4rem 2.5rem;
  }
  .hero h1{
    font-size: 4.9rem;
  }
}

@media only screen and (max-width: 300px) {
  :root{
    font-size: 8px;
  }
}

@media only screen and (max-width: 240px) {
  :root{
    font-size: 6px;
  }
}
@media only screen and (max-width: 180px) {
  :root{
    font-size: 4px;
  }
}

@media only screen and (min-width: 1920px) {
  :root{
    font-size: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  :root{
    font-size: 24px;
  }
}
